---
import type { CollectionEntry } from "astro:content";
import Base from "../../../layouts/Base.astro";
import Prose from "@/components/Prose.astro";
import NarrowContainer from "@/containers/NarrowContainer";

interface Props {
  legal: CollectionEntry<"legals">;
}

const { legal } = Astro.props;
const frontmatter = legal.data;

const { description, title } = frontmatter;
---

<Base {description} {title}>
  <NarrowContainer>
    <article>
      <header>
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Prose class="max-w-none">
        <slot />
      </Prose>
    </article>
  </NarrowContainer>
</Base>
