---
import type { CollectionEntry } from "astro:content";
import Prose from "@components/Prose.astro";
import NarrowContainer from "@containers/NarrowContainer";
import BaseLayout from "../../../layouts/BaseLayout.astro";

interface Props {
  legal: CollectionEntry<"legals">;
}

const { legal } = Astro.props;
const frontmatter = legal.data;

const { description, title } = frontmatter;
---

<BaseLayout {description} {title}>
  <NarrowContainer>
    <article class="my-8">
      <header class="my-8">
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Prose class="max-w-none">
        <slot />
      </Prose>
    </article>
  </NarrowContainer>
</BaseLayout>
