---
import { getCollection } from "astro:content";
import ArticleAuthors from "../../components/ArticleAuthors.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const authors = await getCollection("authors"),
  title = "Authors";
---

<BaseLayout {title} description={title}>
  <header class="py-8 md:py-16">
    <h1 class="mx-6 text-center text-content-1 lg:mx-8">
      {title}
    </h1>
  </header>
  <ArticleAuthors {authors} />
</BaseLayout>
