---
import type { CollectionEntry } from "astro:content";
import H2 from "../_components/H2.astro";

interface Props {
  color?: CollectionEntry<"courseCategories">["data"]["color"];
  title: string;
}

const { color, title } = Astro.props;
---

<section class="py-16 px-8 max-w-2xl mx-auto">
  <header>
    <H2 {color}>{title}</H2>
  </header>
  <slot />
</section>
