---
import type { CollectionEntry } from "astro:content";
import H2 from "../_components/H2.astro";

interface Props {
  color?: CollectionEntry<"courseCategories">["data"]["color"];
  title: string;
}

const { color, title } = Astro.props;

const colorString =
  color === null
    ? null
    : color?.substring(0, 3) === "bg-"
      ? color
      : `bg-[${color}]`;

console.log(colorString + " " + title);
---

<section>
  <header class=`mx-auto ${colorString ? colorString : "hidden"}`>
    <H2 {color} class="text-center mx-auto">{title}</H2>
  </header>
  <div class="py-16 px-8 max-w-7xl mx-auto">
    <slot />
  </div>
</section>
