---
import CourseCardVertical from "@components/CourseCardVertical.astro";
import Section from "@components/Section.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";

const courseSeriess = (await getCollection("seriess")).filter(
  (series) => series?.data.members[0].collection === "courses",
);
const memberss = courseSeriess.map((series) => series.data.members);
const coursess = await Promise.all(
  (memberss as CollectionEntry<"courses">[][]).map((members) =>
    Promise.all(members.map((member) => getEntry("courses", member.slug))),
  ),
);

const courseList = coursess.reduce(
  (accumulator, value) => accumulator.concat(value),
  [],
);
---

<Section color="bg-secondary" title="Courses Included">
  <ul
    class="mx-auto my-8 grid grid-cols-1 gap-6 px-8 sm:grid-cols-2 md:my-16 lg:grid-cols-3"
  >
    {
      courseList.map((course) => (
        <li class="col-span-1 flex justify-center divide-y rounded-lg bg-none">
          <CourseCardVertical {course} />
        </li>
      ))
    }
  </ul>
</Section>
