---
import Prose from "@components/Prose.astro";
import Section from "@pages/courses/_layouts/Section.astro";
---

<Section color="secondary" title="Learn Scala and everything else">
  <div class="max-w-3xl mx-auto">
    <Prose>
      <slot />
    </Prose>
  </div>
</Section>
