---
import MembershipPricing from "@components/MembershipPricing.astro";
import Prose from "@components/Prose.astro";
import Section from "@pages/courses/_layouts/Section.astro";
---

<Section color="bg-secondary" title="Get started now!">
  <MembershipPricing />
</Section>
