---
interface Props {
  slug: string;
  pricingPlanId: number;
  couponCode?: string;
}

const { slug, pricingPlanId, couponCode } = Astro.props;
---

<div class="absolute bottom-0 flex w-full">
  <a
    class="flex-1 bg-holiday-accent-1 text-white drop-shadow-lg p-2 m-2 rounded-3xl text-center"
    href={`https://courses.rockthejvm.com/purchase?product_id=${pricingPlanId.toString()}${couponCode ? `&coupon=${couponCode}` : ""}`}
  >
    1-click buy
  </a>
  <a class="flex-1 bg-white text-black drop-shadow-lg p-2 m-2 rounded-3xl text-center" href={`/courses/${slug}`}>
    Learn more
  </a>
</div>
