---
interface Props {
  slug: string;
  pricingPlanId: number;
  couponCode?: string;
}

const { slug, pricingPlanId, couponCode } = Astro.props;
---

<div class="absolute bottom-0 flex w-full">
  <a
    class="m-2 flex-1 rounded-3xl bg-holiday-accent-1 p-2 text-center text-white drop-shadow-lg"
    href={`https://courses.rockthejvm.com/purchase?product_id=${pricingPlanId.toString()}${couponCode ? `&coupon=${couponCode}` : ""}`}
  >
    1-click buy
  </a>
  <a
    class="m-2 flex-1 rounded-3xl bg-white p-2 text-center text-black drop-shadow-lg"
    href={`/courses/${slug}`}
  >
    Learn more
  </a>
</div>
