---
import Photo from "@/assets/images/latest/articles.png";
import MyPicture from "@/components/MyPicture.astro";
import { getCollection } from "astro:content";

const _articles = await getCollection("articles"),
  latestArticles = _articles
    .sort((a, b) => (a.data.publishedDate > b.data.publishedDate ? -1 : 1))
    .slice(0, 6);
---

<div class="rounded-3xl">
  <div
    class="card-shadow card-shadow-color w-full overflow-hidden rounded-3xl bg-secondary"
  >
    <a href={`/articles`}>
      <div class="max-h-40 w-full overflow-hidden">
        <MyPicture
          src={Photo}
          alt="articles thumbnail"
          quality="mid"
          class="object-cover object-center"
        />
      </div>
    </a>
    <div class="mx-auto mb-4 w-full">
      <div class="mx-auto">
        <a href={`/articles/1`} class="no-underline hover:no-underline">
          <h3
            class="my-4 text-center text-3xl font-bold tracking-tight text-content hover:text-accent-2 sm:text-4xl"
          >
            Latest Articles
          </h3>
        </a>
        <div class="py-4 sm:py-4">
          {
            latestArticles.map(async (article) => (
              // const author = await getEntry(
              //   article.data.author.collection,
              //   article.data.author.id,
              // );
              // const company = author.data.company
              //   ? await getEntry(
              //       author.data.company.entity.collection,
              //       author.data.company.entity.id,
              //     )
              //   : undefined;
              <Fragment>
                <article class="max-w-full hover:bg-primary hover:text-content-2">
                  <div class="group relative mx-auto">
                    <a
                      href={`articles/${article.id}`}
                      class="text-content no-underline hover:text-content-2 hover:no-underline"
                    >
                      <h4 class="article-home-link mx-auto my-1 px-4 py-2.5 text-center text-lg font-normal leading-6 no-underline hover:text-content-2">
                        <span class="absolute inset-0" />
                        {article.data.title}
                      </h4>
                    </a>
                  </div>
                </article>
              </Fragment>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  article:hover h3 {
    color: white !important;
  }
</style>
