---
import LatestArticles from "./LatestArticles.astro";
import LatestVideos from "./LatestVideos.astro";
---

<section>
  <div class="mx-auto mb-8 min-h-screen md:mb-16">
    <h2 class="mb-12 text-center text-content">Latest Content</h2>
    <div
      class="mx-4 flex flex-col gap-y-10 sm:mx-8 md:mx-12 lg:mx-8 lg:flex-row lg:gap-x-10"
    >
      <LatestArticles />
      <LatestVideos server:defer>
        <p slot="fallback">Loading...</p>
      </LatestVideos>
    </div>
  </div>
</section>
