@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card-shadow {
    @apply shadow-[0_10px_20px_rgba(240,_46,_170,_0.7)];
  }

  :root[data-theme="light"] {
    color-scheme: light;

    /* --color-bkg: 210deg 100% 97%; */
    /* --color-bkg: 60deg 56% 91%; */
    /* --color-bkg: 0deg 0% 95%; */
    --color-bkg: 360deg 100% 100%;

    --color-content1: 217deg 32.6% 17.5%;
    --color-content2: 217deg 32.6% 25%;

    --color-accent1: 197deg 100% 30%;
    /* --color-accent1: 240deg 100% 68%; */
    /* --color-accent1: 303deg 98% 24%; */
    --color-accent2: 168deg 84% 30%;

    --color-primary: 221deg 90% 74%;
    /* --color-secondary: 360 0% 94%; */
    --color-secondary: 0deg 100% 98%;

    --color-base: 360deg 100% 100%;
    --color-shadow: 360deg 100% 0%;
    --color-cta: 270deg 85% 70%;
    --color-tag: 226deg 100% 94%;

    .card-shadow-color {
      @apply shadow-opposite/40;
    }

    .body-gradient {
      background: linear-gradient(
        -45deg,
        hsl(var(--color-bkg)) 0%,
        hsl(197deg 100% 80%) 25%,
        hsl(2, 60%, 80%) 50%,
        hsl(168deg 84% 60%) 100%
      );
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
      background-repeat: repeat;
      background-attachment: fixed;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    /* .body-gradient {
      background-image: linear-gradient(
        -45deg,
        rgb(255, 255, 255) 0%,
        hsl(var(--color-accent1)) 25%,
        hsl(var(--color-accent2)) 50%,
        hsl(var(--color-bkg)) 100%
      );
      content: "";
      display: block;
      background-attachment: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1000;
      pointer-events: none;
      transform: scale(1);
      background-position: 0 0;
      background-repeat: repeat;
      background-size: 100%;
      animation: gradient 15s ease infinite;
    } */
  }

  :root[data-theme="dark"] {
    color-scheme: dark;

    --color-bkg: 210deg 40% 10%;

    --color-content1: 217deg 17% 98%;
    --color-content2: 217deg 17% 87%;

    --color-accent1: 288deg 100% 73%;
    --color-accent2: 168deg 83.8% 48.2%;

    --color-primary: 221deg 90% 43%;
    /* --color-secondary: 223deg, 87%, 54%; */
    --color-secondary: 221deg 70% 30%;

    --color-base: 360deg 100% 0%;
    --color-shadow: 360deg 100% 100%;
    --color-cta: 221deg 90% 50%;
    --color-tag: 226deg 100% 94%;

    .card-shadow-color {
      @apply shadow-opposite/20;
    }

    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }

    /* body:before {
      background-image: linear-gradient(
        -45deg,
        rgb(38, 145, 207) 0%,
        rgb(43, 51, 160) 25%,
        rgb(96, 54, 127) 50%,
        rgb(153, 67, 67) 100%
      );
      content: "";
      display: block;
      background-attachment: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1000;
      pointer-events: none;
      transform: scale(1);
      background-position: 0 0;
      background-repeat: repeat;
      background-size: 300%;
      animation: animateBG 20s ease infinite;
    } */
  }

  /* .large-gradient {
    position: fixed;
    top: 0;
    z-index: -20;
    height: 100vh;
    background-image: linear-gradient(
      -45deg,
      rgb(38, 145, 207) 0%,
      rgb(43, 51, 160) 25%,
      rgb(96, 54, 127) 50%,
      rgb(153, 67, 67) 100%
    );
    animation: animateBG 20s ease infinite;
    background-size: 300%;

    @keyframes animateBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  } */

  /* blockquote p {
    color: var(--color-content);
  } */

  /* body:before {
    content: "";
    display: block;
    background-attachment: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    pointer-events: none;
    transform: scale(1);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 300%;
    background-image: linear-gradient(
      -45deg,
      rgb(38, 145, 207) 0%,
      rgb(43, 51, 160) 25%,
      rgb(96, 54, 127) 50%,
      rgb(153, 67, 67) 100%
    );
    animation: animateBG 20s ease infinite;
  } */

  a {
    @apply text-accent-1 no-underline;
  }

  a:hover {
    @apply text-accent-2 underline;
  }
  /*
  .course-page-link a {
    @apply text-accent-1 no-underline;
  }

  .course-page-link a:hover {
    @apply text-accent-2 underline;
  } */

  /* .markdown-section ul {
    @apply list-disc;
  }

  .markdown-section h3 {
    @apply my-4;
  } */

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h6 {
    @apply text-sm md:text-base lg:text-lg;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
