@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="light"] {
    color-scheme: light;
    --color-bkg: 42deg 79% 94%;
    --color-content1: 217deg 32.6% 17.5%;
    --color-content2: 217deg 32.6% 25%;
    --color-accent1: 288deg 96% 30%;
    --color-accent2: 168deg 84% 30%;
    --color-primary: 221deg 90% 74%;
    /* --color-secondary: 223deg, 87%, 54%;  */
    --color-secondary: 221deg 39% 87%;

    /* body:before {
      background-image: linear-gradient(
        -45deg,
        rgb(255, 255, 255) 0%,
        rgb(80, 85, 156) 25%,
        rgb(118, 100, 131) 50%,
        rgb(144, 105, 105) 100%
      );
      content: "";
      display: block;
      background-attachment: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1000;
      pointer-events: none;
      transform: scale(1);
      background-position: 0 0;
      background-repeat: repeat;
      background-size: 300%;
      animation: animateBG 20s ease infinite;
    } */
  }

  :root[data-theme="dark"] {
    color-scheme: dark;
    --color-bkg: 210deg 40% 10%;
    --color-content1: 217deg 32.6% 82.5%;
    --color-content2: 217deg 32.6% 95%;
    --color-accent1: 288deg 95.8% 30.6%;
    --color-accent2: 168deg 83.8% 48.2%;
    --color-primary: 221deg 90% 43%;
    /* --color-secondary: 223deg, 87%, 54%; */
    --color-secondary: 221deg 39% 25%;

    /* body:before {
      background-image: linear-gradient(
        -45deg,
        rgb(38, 145, 207) 0%,
        rgb(43, 51, 160) 25%,
        rgb(96, 54, 127) 50%,
        rgb(153, 67, 67) 100%
      );
      content: "";
      display: block;
      background-attachment: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1000;
      pointer-events: none;
      transform: scale(1);
      background-position: 0 0;
      background-repeat: repeat;
      background-size: 300%;
      animation: animateBG 20s ease infinite;
    } */
  }

  /* blockquote p {
    color: var(--color-content);
  } */

  /* body:before {
    content: "";
    display: block;
    background-attachment: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    pointer-events: none;
    transform: scale(1);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 300%;
    background-image: linear-gradient(
      -45deg,
      rgb(38, 145, 207) 0%,
      rgb(43, 51, 160) 25%,
      rgb(96, 54, 127) 50%,
      rgb(153, 67, 67) 100%
    );
    animation: animateBG 20s ease infinite;
  } */

  a {
    @apply text-accent-1 no-underline;
  }

  a:hover {
    @apply text-accent-2 underline;
  }
  /*
  .course-page-link a {
    @apply text-accent-1 no-underline;
  }

  .course-page-link a:hover {
    @apply text-accent-2 underline;
  } */

  /* .markdown-section ul {
    @apply list-disc;
  }

  .markdown-section h3 {
    @apply my-4;
  } */

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h6 {
    @apply text-sm md:text-base lg:text-lg;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
