@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Black"),
    local("Montserrat-Black"),
    url("/public/fonts/subset-Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Black Italic"),
    local("Montserrat-BlackItalic"),
    url("/public/fonts/subset-Montserrat-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Bold"),
    local("Montserrat-Bold"),
    url("/public/fonts/subset-Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Bold Italic"),
    local("Montserrat-BoldItalic"),
    url("/public/fonts/subset-Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat ExtraBold"),
    local("Montserrat-ExtraBold"),
    url("/public/fonts/subset-Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat ExtraBold Italic"),
    local("Montserrat-ExtraBoldItalic"),
    url("/public/fonts/subset-Montserrat-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat ExtraLight"),
    local("Montserrat-ExtraLight"),
    url("/public/fonts/subset-Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("/public/fonts/subset-Montserrat-ExtraLightItalic.woff2")
      format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Italic"),
    local("Montserrat-Italic"),
    url("/public/fonts/subset-Montserrat-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Light"),
    local("Montserrat-Light"),
    url("/public/fonts/subset-Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Light Italic"),
    local("Montserrat-LightItalic"),
    url("/public/fonts/subset-Montserrat-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Medium Italic"),
    local("Montserrat-MediumItalic"),
    url("/public/fonts/subset-Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat SemiBold"),
    local("Montserrat-SemiBold"),
    url("/public/fonts/subset-Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("/public/fonts/subset-Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Medium"),
    local("Montserrat-Medium"),
    url("/public/fonts/subset-Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Thin"),
    local("Montserrat-Thin"),
    url("/public/fonts/subset-Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat SemiBold Italic"),
    local("Montserrat-SemiBoldItalic"),
    url("/public/fonts/subset-Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Thin Italic"),
    local("Montserrat-ThinItalic"),
    url("/public/fonts/subset-Montserrat-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: optional;
}
