<div class="bg-bkg py-12 sm:py-16 lg:py-24">
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8"
  >
    <h2
      class="max-w-xl text-balance text-3xl font-semibold tracking-tight text-content-1 sm:text-4xl lg:col-span-7"
    >
      Want more content like this? Sign up for our newsletter.
    </h2>
    <form class="w-full max-w-md lg:col-span-5 lg:pt-2">
      <div class="flex gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="min-w-0 flex-auto rounded-md bg-white px-3.5 py-2 text-base text-content-1 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-black focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          class="flex-none rounded-md bg-cta px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-accent-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Subscribe</button
        >
      </div>
      <p class="mt-4 text-sm/6 text-content-1">
        We care about your data. Read our <a
          href="/legal/privacy"
          class="font-semibold">privacy&nbsp;policy</a
        >.
      </p>
    </form>
  </div>
</div>
