---
import type { CollectionEntry } from "astro:content";

interface Props {
  title: CollectionEntry<"articles">["data"]["title"];
  slug: CollectionEntry<"articles">["slug"];
}
const { title, slug } = Astro.props;
---

<li>
  <a href={`/articles/${slug}/`}>{title}</a>
</li>
