---
import type { CollectionEntry } from "astro:content";
import BadgeLarge from "./BadgeLarge.astro";

interface Props {
  tag: CollectionEntry<"articles">["data"]["tags"][0];
}
const { tag } = Astro.props;
---

<BadgeLarge><a href={`/tags/${tag}`}>{tag}</a></BadgeLarge>
