---
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
  label?: string | undefined;
  open?: boolean;
}

const { article, label, open = false } = Astro.props;
const articleSeriess = (await getCollection("seriess")).filter(
  (series) => series.data.members[0].collection === "articles",
);
const memberss = articleSeriess.map((series) => series.data.members);
const articless = await Promise.all(
  (memberss as CollectionEntry<"articles">[][]).map((members) =>
    Promise.all(members.map((member) => getEntry("articles", member.slug))),
  ),
);
const articleSeries = articless.find((articles) =>
  articles.map((article) => article.slug).includes(article.slug),
);
---

{
  articleSeries && (
    <section
      class:list={[
        "bg-gradient-to-b",
        "from-secondary to-bkg",
        "divide-y divide-gray-200 overflow-hidden rounded-md shadow",
      ]}
    >
      <details {open}>
        <summary class="cursor-pointer list-none px-4 py-5 text-content-1 sm:px-6">
          <h2 class="inline">{label ?? "Continue reading:"}</h2>
        </summary>
        <ol class="divide-y divide-gray-200 px-4 py-5 text-content-1 sm:p-6">
          {articleSeries.map((seriesArticle) =>
            seriesArticle.slug === article.slug ? (
              <li class="flex items-center py-4 text-content">
                <span class="px-2 italic">{seriesArticle.data.title}</span>
                <span class="text-accent-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="mr-2 inline-block size-6 align-middle"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
                    />
                  </svg>
                </span>
                <span>This article</span>
              </li>
            ) : (
              <li class="py-4 text-content">
                <a href={`/articles/${seriesArticle.slug}`}>
                  {seriesArticle.data.title}
                </a>
              </li>
            ),
          )}
        </ol>
      </details>
    </section>
  )
}
