---
import type { CollectionEntry } from "astro:content";
import AuthorExpanded from "./AuthorExpanded.astro";

interface Props {
  authors: CollectionEntry<"authors">[];
}
const { authors } = Astro.props;
---

<div
  class="mx-auto px-8 my-8 md:my-16 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
>
  {authors.map((author) => <AuthorExpanded author={author} />)}
</div>
