---
import ArticleSeriesHelper from "@/components/ArticleSeriesHelper";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntries } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
  label?: string | undefined;
  open?: boolean;
}

const { article, label, open = false } = Astro.props,
  _seriess = await getCollection("articleSeriess"),
  articleSeries = _seriess.find(({ data: { members } }) =>
    members.map((member) => member.id).includes(article.id),
  ),
  articleSeriesMembers =
    articleSeries?.data.members !== undefined
      ? await getEntries(articleSeries.data.members)
      : undefined;
---

{
  articleSeries !== undefined && (
    <section
      class:list={[
        "bg-secondary",
        "from-secondary to-bkg",
        "divide-y divide-gray-200 overflow-hidden rounded-md shadow",
      ]}
    >
      <ArticleSeriesHelper
        {article}
        {articleSeriesMembers}
        {open}
        label={label}
        client:load
      />
    </section>
  )
}
