---
import type { CollectionEntry } from "astro:content";

interface Props {
  difficulty: CollectionEntry<"difficulties">;
}
const {
  difficulty: {
    data: { id, name },
  },
} = Astro.props;

const colorClass =
  id === "beginner"
    ? "bg-blue-500/20 text-blue-400 ring-1 ring-inset ring-blue-400/40 [[data-theme=light]_&]:text-blue-700 [[data-theme=light]_&]:ring-blue-700/40"
    : id === "intermediate"
      ? "bg-amber-500/20 text-amber-400 ring-1 ring-inset ring-amber-400/40 [[data-theme=light]_&]:text-amber-700 [[data-theme=light]_&]:ring-amber-700/40"
      : "bg-red-500/20 text-red-400 ring-1 ring-inset ring-red-400/40 [[data-theme=light]_&]:text-red-700 [[data-theme=light]_&]:ring-red-700/40";
---

<a
  href={`/difficulties/${id}`}
  class={`left-0 top-0 z-10 rounded-full px-3 py-1 text-center text-sm font-semibold ${colorClass}`}
>
  {name}
</a>
