---
import type { CollectionEntry } from "astro:content";

interface Props {
  difficulty: CollectionEntry<"difficulties">;
}
const {
  difficulty: {
    data: { id, name },
  },
} = Astro.props;
---

<a
  href={`/difficulties/${id}`}
  class="left-0 top-0 z-10 rounded-full text-center font-medium"
>
  {name}
</a>
