---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

interface Props {
  author: CollectionEntry<"articles">["data"]["author"];
}
const { author } = Astro.props;
const authorName = await getEntry(author.collection, author.id).then(
  (author) => author.data.name,
);
---

<a href={`/authors/${author.id}`}>{authorName}</a>

<style>
  a {
    color: #00539f;
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
