---
interface Props {
  difficultyId: string;
}
const { difficultyId } = Astro.props;
---

<a
  href={`/difficulties/${difficultyId}`}
  class="left-0 top-0 z-10 rounded-full text-center font-medium"
>
  {difficultyId.slice(0, 1).toUpperCase() + difficultyId.slice(1)}
</a>
