---
import type { CollectionEntry } from "astro:content";

interface Props {
  tag: CollectionEntry<"articles">["data"]["tags"][0];
}
const { tag } = Astro.props;
---

<a href={`/tags/${tag}`}>{tag}</a>

<style>
  a {
    color: #00539f;
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
