---
interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---

<section class="pb-8 sm:py-2 md:pb-16">
  <h2 class="m-8 text-center">Article Tags</h2>
  <div class="mx-auto px-6 sm:mx-8 lg:mx-16 lg:px-8">
    <div
      class="mx-auto mt-16 grid grid-cols-2 gap-x-4 gap-y-20 text-base sm:grid-cols-3 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      {
        tags.map((tagId) => (
          <a
            href={`/tags/${tagId}`}
            class="relative z-10 rounded-full bg-tag px-3 py-1.5 text-center font-medium hover:bg-gray-100"
          >
            <p class="text-indigo-800">{tagId}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
