<div class="brand-logos">
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/google-logo"
      alt="Google logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/adobe-logo"
      alt="Adobe logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/apple-logo"
      class="logo-img-2"
      alt="Apple logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/microsoft-logo"
      title="Yes, Microsoft uses Scala"
      alt="Microsoft logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/intuit-logo"
      alt="Intuit logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/datto-logo"
      alt="Datto logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/swiss-re-logo"
      alt="Swiss RE logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/hm-revenue-and-customs-logo"
      alt="HM Revenue and Customs logo"
    />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/hapag-lloyd-logo"
      alt="Hapag Lloyd logo"
    />
  </div>
  <div>
    <img src="./ververica-logo.svg" alt="Ververica logo" />
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/orange-logo"
      alt="Orange logo"
    />
  </div>
</div>
