<small>
  Copyright &copy; <span id="copyright"></span> | All rights reserved
</small>
<script>
  const element = document.querySelector("#copyright");
  if (element !== null) {
    element.textContent = new Date().getFullYear().toString();
  }
</script>
