---
interface Props {
  slug: string;
  pricingPlanId: number;
  couponCode?: string;
}

const { slug, pricingPlanId, couponCode } = Astro.props;
---

<div class="absolute bottom-0 flex w-full">
  <a
    class="flex-1 bg-holiday-accent-1 p-2 text-center"
    href={`https://courses.rockthejvm.com/purchase?product_id=${pricingPlanId}&couponCode=${couponCode}`}
  >
    1-click buy
  </a>
  <a class="flex-1 bg-white p-2 text-center" href={`/courses/${slug}`}>
    Learn more
  </a>
</div>
