<!-- ---
import type { CollectionEntry } from 'astro:content';

interface Props {
  courses: CollectionEntry<"courses">[];
}

const { courses } = Astro.props;
--- -->
<section>
  <h2>Available Courses</h2>
  {}
</section>
