---
import type { CollectionEntry } from "astro:content";
import CourseCard from "./CourseCard.astro";

interface Props {
  courses: CollectionEntry<"courses">[];
}

const { courses } = Astro.props;
---

{
  courses.map((course) => (
    <dd class="mt-2" id="faq-0">
      {/* <p class="text-base leading-7 text-gray-600">{course.data.title}</p> */}
      <CourseCard {course} />
    </dd>
  ))
}
