---
import site from "../data/site.json";
---

<nav class="nav-links">
  <a href="/"
    ><img src={site.logo.src} alt={site.logo.alt} width="50" height="50" /></a
  >
  <a href="/about-us/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/courses/">Courses</a>
  <a href={site.youtube.channel} target="_blank" rel="noopener noreferrer"
    >YouTube</a
  >
  <a href="" target="_blank" rel="noopener noreferrer">RSS</a>
  <a href=""><button type="button">Log In</button></a>
</nav>
