---
import { Image } from "astro:assets";

interface Props {
  imagePair?: [string, string];
  subtitle?: string;
  subtitle2?: string;
  title: string;
}

const { imagePair, subtitle, subtitle2, title } = Astro.props;
---

<section class="hero-section">
  <div class="img-wrapper">
    {
      imagePair && (
        <Image src={imagePair[0]!} alt={imagePair[1]!} inferSize={true} />
      )
    }
  </div>

  <div class="content-wrapper">
    <h1 class="main-heading">{title}</h1>
    {subtitle && <p class="intro-text">{subtitle}</p>}
    {subtitle2 && <p class="intro-text">{subtitle2}</p>}
  </div>
</section>
