---
import HeroHelper from "./HeroHelper";
import RockTheJVM from "./icons/RockTheJVM.astro";
---

<section>
  <HeroHelper>
    <RockTheJVM
      class="h-32 w-full bg-white text-gray-300 sm:w-32"
      slot="logo"
    />
  </HeroHelper>
</section>
