---
import HeroHelper from "./HeroHelper";
import RockTheJVM from "./icons/RockTheJVM.astro";
---

<section>
  <HeroHelper>
    <RockTheJVM class="h-48 md:h-64 w-full" slot="logo" />
  </HeroHelper>
</section>
