---
const latestVideos: { title: string; url: string }[] = [
  {
    title: "Automatic Dependency Injection in Scala - Just the Type System!",
    url: "https://www.youtube.com/watch?v=gLJOagwtQDw",
  },
  {
    title: "A Remote Code Execution System with Apache Pekko & Scala",
    url: "https://www.youtube.com/watch?v=1uP6FTUn8_E",
  },
  {
    title: "The Power of Recursion - How To Think Code Clearly",
    url: "https://www.youtube.com/watch?v=hHMEMRGHmAI",
  },
  {
    title: "Kotlin Scope Functions for Expressiveness: let, run, with, apply",
    url: "https://www.youtube.com/watch?v=d0BYBs4JSsE",
  },
  {
    title:
      "htmx, ScalaTags and ZIO HTTP - Single-Page Web Applications in Scala",
    url: "https://www.youtube.com/watch?v=xJnuXAc4siY",
  },
  {
    title: "Scala PostgreSQL Integration With Skunk",
    url: "https://www.youtube.com/watch?v=xNCCHFljwBg",
  },
];

import { Image } from "astro:assets";
import Photo from "../assets/images/latest/videos.png";
---

<div class="rounded-3xl">
  <div
    class="card-shadow card-shadow-color overflow-hidden rounded-3xl bg-secondary"
  >
    <div class="max-h-40 w-full max-w-7xl overflow-hidden">
      <a href={`https://www.youtube.com/@rockthejvm`}>
        <Image
          src={Photo}
          alt="videos thumbnail"
          class="object-cover object-center"
        />
      </a>
    </div>
    <div class="mx-auto mb-4 max-w-7xl">
      <div class="mx-auto">
        <a
          href={`https://www.youtube.com/rockthejvm`}
          class="no-underline hover:no-underline"
        >
          <h3
            class="my-4 text-center text-3xl font-bold tracking-tight text-content hover:text-accent-2 sm:text-4xl"
          >
            Latest Videos
          </h3>
        </a>
        <div class="py-4 sm:py-4">
          {
            latestVideos.map(async (video) => {
              return (
                <Fragment>
                  <article class="max-w-full border-b border-content-2 hover:bg-primary hover:text-content-2">
                    <div class="group relative mx-auto">
                      <h4 class="mx-auto my-1 py-2.5 text-center text-lg font-normal leading-6 text-content no-underline group-hover:text-content-2">
                        <a
                          href={video.url}
                          class="text-content no-underline hover:no-underline group-hover:text-content-2"
                        >
                          <span class="absolute inset-0" />
                          {video.title}
                        </a>
                      </h4>
                    </div>
                  </article>
                </Fragment>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  article:hover h3 {
    color: white !important;
  }
</style>
