---
import LatestContentHelper from "./LatestContentHelper";
---

<section>
  <h2>Latest Content</h2>
  <div class="flex gap-y-10 flex-col md:flex-row md:gap-x-10">
    <LatestContentHelper />
    <LatestContentHelper />
  </div>
</section>
