---
import LatestArticles from "./LatestArticles.astro";
import LatestVideos from "./LatestVideos.astro";
---

<section>
  <div class="min-h-[100vh] mx-auto">
    <div class="flex gap-y-10 flex-col md:flex-row md:gap-x-10">
      <h2>Latest Content</h2>
      <LatestArticles />
      <LatestVideos />
    </div>
  </div>
</section>
