---
import { getCollection } from "astro:content";
import Photo from "../assets/images/latest/articles.png";
import { Image } from "astro:assets";

const articles = await getCollection("articles");
const latestArticles = articles
  .sort((a, b) => (a.data.publishedDate > b.data.publishedDate ? -1 : 1))
  .slice(0, 6);
---

<div class="shadow-2xl rounded-3xl">
  <div class="bg-secondary rounded-3xl w-full overflow-hidden">
    <a href={`/articles`}>
      <div class="w-full max-h-40 overflow-hidden">
        <Image src={Photo} alt="articles thumbnail" class="object-cover object-center" />
      </div>
    </a>
    <div class="mx-auto w-full mb-4">
      <div class="mx-auto">
        <a href={`/articles`} class="no-underline hover:no-underline">
          <h3
            class="text-3xl text-center font-bold my-4 tracking-tight hover:text-accent-2 text-content sm:text-4xl"
          >
            Latest Articles
          </h3>
        </a>
        <div class="py-4 sm:py-4">
          {
            latestArticles.map(async (article) => {
              // const author = await getEntry(
              //   article.data.author.collection,
              //   article.data.author.id,
              // );
              // const company = author.data.company
              //   ? await getEntry(
              //       author.data.company.entity.collection,
              //       author.data.company.entity.id,
              //     )
              //   : undefined;
              return (
                <Fragment>
                  <article class="max-w-full border-b border-content-2 hover:bg-primary hover:text-content-2">
                    <div class="group relative mx-auto">
                      <a
                        href={`articles/${article.slug}`}
                        class="no-underline hover:no-underline text-content hover:text-content-2"
                      >
                        <h4 class="text-lg my-1 py-2.5 font-normal leading-6 mx-auto text-center no-underline hover:text-content-2">
                          <span class="absolute inset-0" />
                          {article.data.title}
                        </h4>
                      </a>
                    </div>
                  </article>
                </Fragment>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  article:hover h3 {
    color: white !important;
  }
</style>
