---
import LatestArticles from "./LatestArticles.astro";
import LatestVideos from "./LatestVideos.astro";
---

<section>
  <div class="min-h-[100vh] mx-auto mb-8 md:mb-16">
    <h2 class="text-center mb-12 text-content">Latest Content</h2>
    <div
      class="flex mx-8 sm:mx-8 md:mx-24 lg:mx-32 gap-y-10 flex-col lg:flex-row lg:gap-x-10"
    >
      <LatestArticles />
      <LatestVideos />
    </div>
  </div>
</section>
