---
import { Image } from "astro:assets";

interface Props {
  image?: { src: string; alt: string };
}
const { image } = Astro.props;
---

<button>
  {image && <Image src={image.src} alt={image.alt} inferSize={true} />}
  <p>My account</p>
</button>
