---
import { Image } from "astro:assets";
import MembershipHelper from "./MembershipHelper";
import MembershipImage from "../content/memberships/personal.png";
---

<section class="mb-8 md:mb-16">
  <h2 class="text-bold text-center text-content mb-12">The Membership</h2>
  <MembershipHelper>
    <Image
      src={MembershipImage}
      alt="Personal membership"
      class="w-full flex-none rounded-2xl lg:max-w-lg"
      slot="image"
    />
  </MembershipHelper>
</section>
