---
import { Image } from "astro:assets";
import MembershipHelper from "./MembershipHelper";
import MembershipImage from "../content/memberships/regular.png";
---

<section>
  <h2 class="text-6xl text-bold text-white">The Membership</h2>
  <MembershipHelper>
    <Image
      src={MembershipImage}
      alt="Regular membership"
      class="w-full flex-none rounded-2xl lg:max-w-lg"
      slot="image"
    />
  </MembershipHelper>
</section>
