<div class="animate-gradient-xy bg-gradient-to-r from-yellow-400 via-blue-500 via-cyan-500 via-orange-500 via-pink-500 via-purple-500 via-red-500 to-yellow-400 bg-[length:400%_400%] p-1 shadow-[0_0_30px_theme(colors.orange.500/60%)]">
  <div class="bg-black py-6 text-center">
    <div class="px-6">
      <p class="text-base text-white">
        <a href="/black-friday">
          <strong class="font-semibold">Black Friday Deal</strong>
          <svg
            viewBox="0 0 2 2"
            class="size-1 fill-white"
            aria-hidden="true"
          >
          </svg>
          <span>50% off site-wide, plus some crazy packs!</span>
          <br/>
          <span>Use the code</span>
          <strong class="font-bold text-orange-500">BLACK_FRIDAY_2025</strong>
          <span>until EOD December 1, 2025</span>
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>
