---
import type { CollectionEntry } from "astro:content";
import PostTag from "./PostTag.astro";

interface Props {
  tags: CollectionEntry<"posts">["data"]["tags"];
}
const { tags } = Astro.props;
---

<div>
  {tags.map((tag) => <PostTag {tag} />)}
</div>
<style>
  div {
    display: flex;
    flex-wrap: wrap;
  }
</style>
