---
import type { CollectionEntry } from "astro:content";

interface Props {
  title: CollectionEntry<"blog">["data"]["title"];
  slug: CollectionEntry<"blog">["slug"];
}
const { title, slug } = Astro.props;
---

<li><a href={`/posts/${slug}/`}>{title}</a></li>
