---
import type { CollectionEntry } from "astro:content";

type Props = {
  title: CollectionEntry<"posts">["data"]["title"];
  slug: CollectionEntry<"posts">["slug"];
};
const { title, slug } = Astro.props;
---

<li><a href={`/posts/${slug}/`}>{title}</a></li>
