---
interface Props {
  class?: string;
}

const { class: additionalClasses } = Astro.props;
---

<div
  class:list={[
    "prose prose-sm text-wrap sm:prose-base md:prose-lg lg:prose-xl prose-a:text-accent-1 prose-a:no-underline hover:prose-a:text-accent-2 hover:prose-a:underline prose-code:before:hidden prose-code:after:hidden prose-img:mx-auto",
    additionalClasses,
  ]}
>
  <slot />
</div>
