---
import { getCollection } from "astro:content";
import Review from "../layouts/Review.astro";

const zip = (a: any, b: any) => a.map((k: any, i: any) => [k, b[i]]);
const reviews = await getCollection("reviews");
const reviewsContent = reviews.map(async (review) => await review.render());
const zippedReviews = zip(reviews, reviewsContent);
---

<section>
  <h2>Reviews</h2>
  {
    // reviews.map(async (review) => (
    //   <Review frontmatter={review.data}>{await review.render()}</Review>
    // ))
    zippedReviews.map(([review, content]) => (
      <Review frontmatter={review.data}>{content}</Review>
    ))
  }

  <!-----

          <h2 class="section-heading">Reviews</h2>

          <div class="review-wrapper">
            <div class="header">
              <div class="reviewer-img">
                <img
                  src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/mihai-fecioru-picture"
                  alt="Mihai Fecioru logo"
                  />
              </div>
              <div class="reviewer-details">
                <a
                  class="student-link"
                  href="https://www.linkedin.com/in/mihai-fecioru-1008a4/"
                  >Mihai Fecioru</a
                >, Engineering Manager at Adobe<br/> (San Francisco Bay Area,
                California)
              </div>
            </div>
            <div class="review-text">
              <em
                >My team is expanding the use of Akka in our products so I
                needed a quick introduction on this topic. I have tried a couple
                of courses but the introduction to Akka was always too abrupt,
                too hard to comprehend. I blamed Akka for this as being too hard
                to explain. This was until I was exposed to the Rock The JVM
                courses which were an absolute delight when it comes to
                <strong
                  >presenting such complex topics in such an easy to understand
                  way</strong
                >. And Daniel has not stopped at Akka but has added to his
                portfolio amazing courses on Scala and Spark too. It seems like
                he is quite enjoying taking such challenges like complex
                technologies and making them so simple for everyone. I have
                instantly recommended Daniel's work to my team, which helped
                them immensely with taking their skills to a new level, and I do
                recommend these courses to anyone who wants to have the fastest
                ramp-up in these tough but popular technologies.</em
              >
            </div>
          </div>

          <div class="review-wrapper">
            <div class="header">
              <div class="reviewer-img">
                <img
                  src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/giannis-polyzos-picture"
                  alt="Giannis Polyzos logo"
                  />
              </div>
              <div class="reviewer-details">
                <a
                  class="student-link"
                  href="https://www.linkedin.com/in/john-polyzos-04a60688/"
                  >Giannis Polyzos</a
                >, Senior Engineer at Ververica<br /> (Athens, Greece)
              </div>
            </div>
            <div class="review-text">
              <em>From Scala, to Akka, to Spark, Daniel delivers exceptional material in each and every one of these technologies. I&#39;ve been using them for a long time and there is always something new I will discover from him. <strong>The level of detail he gets into as well as the way he delivers material is mindblowing.</strong> I personally find his latest course Spark Optimization pure gold and one of a kind. I&#39;ve been using Spark for a year now and I haven&#39;t even thought how much you can leverage query plans to make such optimizations. <strong>I can&#39;t stop thinking every time, how he manages to go so deep</strong> - because using a technology is one thing, but knowing its internals so well and how everything works behind the scenes is another story when it comes to distributed systems. Long story short Daniel is definitely the best instructor I&#39;ve come across and each one of his courses is the best resource you can find online. Kudos for all your work and knowledge sharing.</em>
            </div>
          </div>

          <div class="review-wrapper">
            <div class="header">
              <div class="reviewer-img">
                <img
                  src="https://res.cloudinary.com/riverwalk-software/image/upload/c_scale,w_500/f_auto/q_auto:eco/v1/rtjvm-homepage/anirban-goswami-picture"
                  alt="Anirban Goswami logo"
                  />
              </div>
              <div class="reviewer-details">
                <a
                  class="student-link"
                  href="https://www.linkedin.com/in/anirban-goswami-5a724559/"
                  >Anirban Goswami</a
                >, Data at Apple<br /> (Cupertino, California)
              </div>
            </div>
            <div class="review-text">
              <em
                >Daniel's courses on Scala and Big Data are the best in class.
                I've been in touch with Daniel's teaching and courses since
                early 2018. The first course that I took from him was Scala
                &amp; Functional Programming; I was skeptical about it because
                over the internet there are many courses you can find, but few
                really worthy. I remember the very first day when Daniel started
                to speak and shared his examples - I started to love Scala, and
                then more as we went on. I am with Scala for the last 5 years
                now, but never ever has anyone explained to me or gave me
                comparable resources to Rock the JVM. Daniel gave me a shift in
                life and
                <strong>helped me crack top tech company interviews</strong>.
                His courses on big data are a must for any aspiring big data
                developer or data enthusiast. I highly recommend Daniel as an
                educator both online and on campus.</em
              >
            </div>
          </div>

--- -->
</section>
