---
import SocialShareHelper from "./SocialShareHelper";
import Facebook from "./icons/Facebook.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Twitter from "./icons/Twitter.astro";
---

<div class="my-4">
  <SocialShareHelper shareUrl="rockthejvm" client:idle>
    <Facebook slot="facebook" />
    <LinkedIn slot="linkedin" />
    <Twitter slot="twitter" />
  </SocialShareHelper>
</div>
