---
import type { MarkdownHeading } from "astro";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const filteredHeadings = Astro.props.headings.filter(
  (heading) => heading.depth === 2,
);
---

{
  filteredHeadings.length >= 3 && (
    <nav>
      <h2 class="text-content">Table of Contents</h2>
      <ul>
        {filteredHeadings.map((heading) => (
          <TableOfContentsHeading heading={heading} />
        ))}
      </ul>
    </nav>
  )
}
