---
import type { MarkdownHeading } from "astro";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth === 2);
---

{
  filteredHeadings.length >= 3 && (
    <nav class="sticky top-0">
      <h2 class="text-emerald-400">Table of Contents</h2>
      <ul>
        {filteredHeadings.map((heading) => (
          <TableOfContentsHeading heading={heading} />
        ))}
      </ul>
    </nav>
  )
}
