---
import { getCollection } from "astro:content";
import Testimonial from "./Testimonial.astro";

const testimonials = await getCollection("testimonials");
---

<section>
  <h2>Testimonials</h2>
  {testimonials.map((testimonial) => <Testimonial {testimonial} />)}
</section>
