---
import { getCollection } from "astro:content";
import Testimonial from "./Testimonial.astro";

const testimonials = await getCollection("testimonials");
---

<section class="text-white">
  <h2 class="text-white text-center mb-12">Testimonials</h2>
  {testimonials.map((testimonial) => <Testimonial {testimonial} />)}
</section>
