---
import { getCollection } from "astro:content";
import Testimonial from "./Testimonial.astro";

const testimonials = await getCollection("testimonials");
---

<section class="mb-8 text-content md:mb-16">
  <h2 class="mb-12 text-center text-content">Testimonials</h2>
  {testimonials.map((testimonial) => <Testimonial {testimonial} />)}
</section>
