---
import { getCollection } from "astro:content";
import Testimonial from "./components/Testimonial.astro";

const testimonials = await getCollection("testimonials");
---

<section class="mx-auto mb-8 max-w-4xl text-content md:mb-16">
  <h2 class="mb-12 text-center text-content">Testimonials</h2>
  {testimonials.map((testimonial) => <Testimonial {testimonial} />)}
</section>
