---
import centsToPrice from "@/utils/centsToPrice";
import { getTeachablePricingPlan } from "@/utils/teachable";

interface Props {
  pricingPlanId: number;
  recurring?: "nonrecurring" | "monthly" | "yearly";
}

const { pricingPlanId, recurring = "nonrecurring" } = Astro.props,
  { currency, price: cents } = await getTeachablePricingPlan(pricingPlanId),
  price = centsToPrice(cents, currency);
---

<span
  class="mt-4 flex items-baseline gap-x-2 text-5xl font-bold tracking-tight text-content"
>
  {price}
</span>
{
  recurring !== "nonrecurring" && (
    <span class="text-base text-content">/{recurring}</span>
  )
}
