---
import centsToPrice from "@/utils/centsToPrice";

interface Props {
  priceInCents: number;
  currency: string;
  recurring?: "nonrecurring" | "monthly" | "yearly";
}

const { priceInCents, currency, recurring = "nonrecurring" } = Astro.props,
  price = centsToPrice(priceInCents, currency);
---

<span
  class="mt-4 flex items-baseline gap-x-2 text-5xl font-bold tracking-tight text-content"
>
  {price}
</span>
{
  recurring !== "nonrecurring" && (
    <span class="text-base text-content">/{recurring}</span>
  )
}
