---
import Prose from "@components/Prose.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  image: CollectionEntry<"courses">["data"]["image"];
  imagePosition: "left" | "right";
  imageRounded?: boolean;
}

const { image, imagePosition, imageRounded = false } = Astro.props;
---

<div
  class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class={`${imagePosition === "left" ? "lg:col-start-2" : "lg:col-start-1 lg:grid-cols-2"} lg:col-span-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:gap-x-8 lg:px-8`}
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <Prose class="mt-1">
            <slot />
          </Prose>
        </div>
      </div>
    </div>
    <div
      class={`${imagePosition === "left" ? "lg:col-start-1" : "lg:col-start-2"} -ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:row-span-2 lg:row-start-1 lg:overflow-hidden`}
    >
      <Image
        class={`${imageRounded ? "rounded-full" : "rounded-xl"} w-full`}
        src={image}
        alt=""
      />
    </div>
  </div>
</div>
