---
import Prose from "@/components/Prose.astro";
import NarrowContainer from "@/containers/NarrowContainer";
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
  description: string;
  structuredData: string;
  title: string;
}

const { description, structuredData, title } = Astro.props;
---

<BaseLayout {description} {structuredData} {title}>
  <NarrowContainer>
    <article class="py-4 md:py-8">
      <header class="my-16">
        <Prose class="max-w-none">
          <h1>{title}</h1>
        </Prose>
      </header>
      <Prose class="max-w-none prose-img:max-w-xs prose-img:rounded-full">
        <slot />
      </Prose>
    </article>
  </NarrowContainer>
</BaseLayout>
