---
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";
import Prose from "@/components/Prose.astro";
import NarrowContainer from "@/containers/NarrowContainer";

interface Props {
  frontmatter: CollectionEntry<"legals">["data"];
}

const { frontmatter } = Astro.props;

const { description, title } = frontmatter;
---

<Base {description} {title}>
  <Prose class="max-w-none">
    <NarrowContainer>
      <article>
        <header>
          <h1>{title}</h1>
        </header>
        <slot />
      </article>
    </NarrowContainer>
  </Prose>
</Base>
