---
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";
import NarrowContainer from "../containers/NarrowContainer";

interface Props {
  frontmatter: CollectionEntry<"legals">["data"];
}

const { frontmatter } = Astro.props;

const { description, title } = frontmatter;
---

<Base {description} {title}>
  <NarrowContainer>
    <article
      class="prose lg:prose-xl max-w-none prose-img:rounded-full prose-img:max-w-xs prose-img:mx-auto"
    >
      <h1>{title}</h1>
      <slot />
    </article>
  </NarrowContainer>
</Base>
