---
import { YouTube } from "astro-embed";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  videoId: NonNullable<CollectionEntry<"courses">["data"]["videoId"]>;
}

const { color, videoId } = Astro.props;
---

<Section {color} title="What's inside?">
  <YouTube id={videoId} class="max-w-4xl mx-auto aspect-w-16 aspect-h-9" posterQuality="max" />
</Section>
