---
import CourseCurriculumHelper from "@/components/CourseCurriculumHelper";
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"];
  courseId: CollectionEntry<"courses">["slug"];
}

const { color, courseId, pricingPlanId } = Astro.props;
---

<Section {color} title="What's Included">
  <CourseCurriculumHelper
    {pricingPlanId}
    {courseId}
    {color}
    client:visible={{ rootMargin: "2160px" }}
  />
</Section>
