---
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";
import CurriculumHelper from "../_components/CurriculumHelper.astro";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"];
  courseId: CollectionEntry<"courses">["id"];
}

const { color, courseId, pricingPlanId } = Astro.props;
---

<Section {color} title="What's Included">
  <CurriculumHelper {pricingPlanId} {courseId} {color} />
</Section>
