---
import type { CollectionEntry } from "astro:content";
import CourseCurriculumHelper from "@components/CourseCurriculumHelper";
import Section from "@components/Section.astro";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"];
  courseSlug: CollectionEntry<"courses">["slug"];
}

const { color, courseSlug, pricingPlanId } = Astro.props;
---

<Section {color} title="What's Included">
  <CourseCurriculumHelper
    {pricingPlanId}
    {courseSlug}
    {color}
    client:visible={{ rootMargin: "2160px" }}
  />
</Section>
