---
import CourseCurriculumHelper from "@components/CourseCurriculumHelper";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  pricingPlanId: CollectionEntry<"courses">["data"]["pricingPlanId"]
  courseSlug: CollectionEntry<"courses">["slug"]
}

const { color, courseSlug, pricingPlanId } = Astro.props;
---

<Section {color} title="What's Included">
  <CourseCurriculumHelper {pricingPlanId} {courseSlug} client:load />
</Section>
