---
import Section from "@/components/Section.astro";
import type { CurriculumSection } from "@/types/Curriculum";
import type { CollectionEntry } from "astro:content";
import CurriculumHelper from "../_components/CurriculumHelper.astro";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  courseId: CollectionEntry<"courses">["id"];
  lectureSections: CurriculumSection[];
}

const { color, courseId, lectureSections } = Astro.props;
---

<Section id="curriculum" {color} title="What's Included">
  <CurriculumHelper {courseId} {color} {lectureSections} />
</Section>
