---
import Prose from "@components/Prose.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  extra?: CollectionEntry<"courses">["data"]["extra"];
}

const { color, extra } = Astro.props;
---

<Section title={extra?.title} {color}>
  <Prose class="mx-auto max-w-3xl">
    <slot />
  </Prose>
</Section>
