---
import Prose from "@components/Prose.astro";
import Section from "@components/Section.astro";
---

<Section title="Goal">
  <div class="max-w-3xl mx-auto">
    <Prose>
      <slot />
    </Prose>
  </div>
</Section>
