---
import Prose from "@/components/Prose.astro";
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
}

const { color } = Astro.props;
---

<Section id="goal" title="Goal" {color}>
  <Prose class="mx-auto max-w-5xl">
    <slot />
  </Prose>
</Section>
