---
import CoursePricing from "@components/CoursePricing.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  course: CollectionEntry<"courses">;
  color: CollectionEntry<"courseCategories">["data"]["color"];
  pricingPlanId: number;
  category?: CollectionEntry<"courseCategories">;
}

const { category, course, color, pricingPlanId } = Astro.props;
---

<Section {color} {category} title="Take this course now!">
  <CoursePricing {course} {pricingPlanId} />
</Section>
