---
import Feature from "../_components/Feature.astro";
import { getEntry } from "astro:content";
import Section from "../_layouts/Section.astro";

interface Props {
  color: string;
}

const {color} = Astro.props;

const author = await getEntry("authors", "daniel-ciocirlan");
---

<Section {color} title="Meet Rock the JVM">

<Feature
image={author.data.photo}
imagePosition="left"
>
<h3>Daniel Ciocîrlan</h3>
<slot name="bio" />
</Feature>
<div class="max-w-[40rem] mb-8 md:mb-16 mx-auto px-8">
{ Astro.slots.has("thanks") && (
  <h3 class="my-4">With Special Thanks To</h3>
  <slot name="thanks" />)
}
</div>
</Section>
