---
import Feature from "@pages/courses/_sections/Feature.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

type CourseFrontmatter = CollectionEntry<"courses">["data"];

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  image: CourseFrontmatter["image"];
  question: NonNullable<CourseFrontmatter["question"]>;
}

const { color, image, question } = Astro.props;
---

<Section {color} title={question.text}>
  <Feature {image} imagePosition="left">
    <slot />
  </Feature>
</Section>
