---
import Feature from "@components/Feature.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  image: ImageMetadata;
  question: CollectionEntry<"courses">["data"]["question"];
  category?: CollectionEntry<"courseCategories">;
}

const { color, image, question } = Astro.props;
---

{
  question && (
    <Section {color} title={question.text}>
      <Feature {image} imagePosition="left">
        <slot />
      </Feature>
    </Section>
  )
}
