---
import type { CollectionEntry } from "astro:content";
import Section from "@components/Section.astro";
import Feature from "@pages/courses/_components/Feature.astro";

type CourseFrontmatter = CollectionEntry<"courses">["data"];

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
  question: NonNullable<CourseFrontmatter["question"]>;
}

const { color, question } = Astro.props;
---

<Section {color} title={question.text}>
  <Feature image={question.image} imagePosition="left">
    <slot />
  </Feature>
</Section>
