---
import Section from "@/components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
}

const { color } = Astro.props;
---

<Section id="skills" {color} title="Skills You'll Learn">
  <div class="mx-auto max-w-5xl text-sm text-content sm:text-base">
    <div class="skills-list">
      <slot />
    </div>
  </div>
</Section>
