---
import Prose from "@components/Prose.astro";
import Section from "@components/Section.astro";

const { color } = Astro.props;
---

<Section {color} title="Skills You'll Learn">
  <div class="max-w-3xl mx-auto">
    <Prose>
      <slot />
    </Prose>
  </div>
</Section>
