---
import Prose from "@components/Prose.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: CollectionEntry<"courseCategories">["data"]["color"];
}

const { color } = Astro.props;
---

<Section gradientOption={2} {color} title="Skills You'll Learn">
  <Prose class="mx-auto max-w-3xl">
    <slot />
  </Prose>
</Section>
