---
import Prose from "@components/Prose.astro";
import Section from "../_layouts/Section.astro";
---

<Section title="Skills">
  <div class="max-w-3xl mx-auto">
    <Prose>
      <h2 class="mx-auto text-center">Skills You'll Learn</h2>
      <slot />
    </Prose>
  </div>
</Section>
