---
import Prose from "@components/Prose.astro";
import Section from "@components/Section.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  color: string;
  category?: CollectionEntry<"courseCategories">;
}

const { category, color } = Astro.props;
---

<Section showGradient={true} {color} {category} title="Skills You'll Learn">
  <div class="max-w-3xl mx-auto">
    <Prose>
      <slot />
    </Prose>
  </div>
</Section>
