name: Fork
on:
  workflow_run:
    workflows: ["Pull Request"]
    types: [completed]
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions: read-all
jobs:
  trunk_check:
    name: Trunk Code Quality Annotate
    runs-on: ubuntu-24.04
    permissions:
      checks: write # trunk PR annotations
      contents: read # code checkout and dependency installation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          post-annotations: true
