name: Weekly
on:
  schedule:
    - cron: 0 2 * * 1
  workflow_dispatch: {}
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions: read-all
jobs:
  trunk_upgrade:
    name: Upgrade Trunk
    runs-on: ubuntu-24.04
    permissions:
      contents: write # For trunk to create PRs
      pull-requests: write # For trunk to create PRs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Trunk Upgrade
        uses: trunk-io/trunk-action/upgrade@v1
      - name: Trunk Code Quality
        uses: trunk-io/trunk-action@v1
        with:
          check-mode: all
          arguments: --github-annotate-new-only=false
  check_broken_links:
    name: Check Broken Links
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Check Broken Links
        run: npx linkinator https://rockthejvm.com --recurse
